.container {
    margin: auto;
    display: grid;
}

.button {
    padding: 28px;
    background-color: var(--color-blue-light);

    border: none;
    border-radius: 40px;
}

.button:hover {
    background-color: var(--color-blue-dark);

    cursor: pointer;
}

.button:active {
    background-color: var(--color-blue-dark);
}

.text {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;

    margin-top: 16px;
}
