.container {
    margin: 80px 6% 0 6%;
}

.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
}

.header-container {
    display: grid;
    grid-template-columns: auto max-content max-content;
    grid-column-gap: 32px;
}