.container {
    position: relative;

    align-items: center;

    border-radius: 60px;

    margin: 0 8%;
    padding: 80px 0;

    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);

    margin: 24px 0 64px 0;
}

.input {
    display: block;

    width: 35%;
    margin: 40px auto 0 auto;
    padding: 31px;

    border: none;
    outline: none;
    border-radius: 24px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);
}

.input:hover {
    border: none;
}

.button {
    position: absolute;
    top: 292px;
    left: 719px;

    margin: auto;
    padding: 21px 47px;
    background-color: var(--color-black);

    border: none;
    border-radius: 16px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-white);
}

.button:hover {
    background-color: var(--color-black-light);

    cursor: pointer;
}

.button:active {
    background-color: var(--color-black-light);
}
