.container {
    align-items: center;

    background: #E7F9FD;
    border-radius: 60px;

    margin: 0 6%;
    padding: 80px 0;

    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);

    margin: 24px 0;
}