.container {
    margin: auto;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;

    padding-bottom: 24px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);

    padding-bottom: 72px;
}

.button {
    padding: 21px 52px;
    background-color: var(--color-black);

    border: none;
    border-radius: 16px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-white);
}

.button:hover {
    background-color: var(--color-black-light);

    cursor: pointer;
}

.button:active {
    background-color: var(--color-black-light);
}
