.container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 24px;

    border-radius: 20px;
    margin-bottom: 24px;

    cursor: pointer;
    transition: 0.5s;
}

.container:hover {
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    transform: scale(1.05);
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    margin-bottom: 16px;
}

.author {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.6);
}
