.container {
    min-width: 1050px;
    min-height: 200px;

    max-width: 1520px;
    max-height: 900px;

    width: 100vw;
    height: 100vh;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;

    margin: 70px 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 40px;

    margin: 0 8% 160px 8%;
}